@import '/src/Components/Sass/colors.scss';
@import '/src/Components/Sass/fonts.scss';

body {
  background-color: $body-bg !important;
  font-family: $body-font !important;
  color: $text-white !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: $text-white !important;
}

ul {
  padding: 0;
  margin: 0;
}
